# HelmRelease for flux-instance
# Category: core
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  interval: 30m
  timeout: 10m
  releaseName: flux-instance
  install:
    crds: CreateReplace
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  chart:
    spec:
      chart: ./charts/core/flux-instance
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 12h
  values:
    distribution:
      version: 2.x
      registry: ghcr.io/fluxcd
    components:
      source: true
      kustomize: true
      helm: true
      notification: true
      imageAutomation: false


