# HelmRelease for ingress-nginx
# Category: ingress
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 30m
  timeout: 5m
  releaseName: ingress-nginx
  install:
    crds: CreateReplace
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  chart:
    spec:
      chart: ./charts/ingress/ingress-nginx
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 12h
  values:
    ingress-nginx:
      controller:
        replicaCount: 2
        service:
          type: ClusterIP
        metrics:
          enabled: true
          serviceMonitor:
            enabled: false
        admissionWebhooks:
          enabled: true
        config:
          use-forwarded-headers: 'true'
          compute-full-forwarded-for: 'true'


