# HelmRelease for cert-manager
# Category: security
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 30m
  timeout: 10m
  releaseName: cert-manager
  install:
    crds: CreateReplace
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  chart:
    spec:
      chart: ./charts/security/cert-manager
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 12h
  dependsOn:
    - name: cert-manager-crds
      namespace: cluster-crds
  values:
    cert-manager:
      installCRDs: false
      replicaCount: 1
      prometheus:
        enabled: true
        servicemonitor:
          enabled: false
      webhook:
        replicaCount: 1
      cainjector:
        replicaCount: 1


